<!DOCTYPE html>
<head>
<meta charset="utf-8">

</head>
<style>

.bar {
  fill: steelblue;
}
.text {
  fill: white;
  display: none;
}
.axis--x path {
  display: none;
}

.bar:hover{
  fill: brown;
}
#spending-byperson {
  display: none;
}


</style>
<body>
<svg id="spending-bymonth" width="960" height="500"></svg>
<svg id="spending-byperson" width="960" height="500"></svg>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var svg = d3.select("#spending-bymonth");
    margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;

var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
    y = d3.scaleLinear().rangeRound([height, 0]);

var g = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var bar_text;


d3.csv("bymonth.csv", function(d) {
  d.date = +d.date; // turn string into integer
  return d;
}, function(error, data) {
  if (error) throw error;

  x.domain(data.map(function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.energy; })]);

  g.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  g.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(y))
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Energy");

  function highlight_bar(d) {
    bar_text = g.append("text").attr("x", x(d.date) + x.bandwidth()/2)
      .attr("y", y(d.energy) + 20)
      .attr("width", x.bandwidth())
      .attr("height", height - y(d.energy) )
      .text(d.energy)
      .attr("class", "text")
      .style("display", "block");
  }
  //data binding
  g.selectAll(".bar")
    .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.date); })
      .attr("y", function(d) { return y(d.energy); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d.energy); })
      .text(function(d) { return d.energy; })
      .on("mouseover", function(d) {
        highlight_bar(d);
        }) 
      .on("mouseout", function() {
        bar_text.style("display", "none");
      })
      .on("click", function(d) { showDetail(); });
});

function showDetail() {
  var svg = d3.select("#spending-byperson"),
    margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;

  svg.style("display", "block");
  var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
      y = d3.scaleLinear().rangeRound([height, 0]);

  var g = svg.append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  d3.csv("byperson.csv", function(d) {
    return d;
  }, function(error, data) {
    if (error) throw error;

  x.domain(data.map(function(d) { return d.name; }));
  y.domain([0, d3.max(data, function(d) { return d.energy; })]);

  g.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

  g.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(y))
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("Energy");

  //data binding
  g.selectAll(".bar")
    .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.name); })
      .attr("y", function(d) { return y(d.energy); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d.energy); })
      .on("mouseover", function(d) {
        highlight_bar(d);
        }) 
      .on("mouseout", function() {
        bar_text.style("display", "none");
      })
    });

  // var bar_text = g.append("text")
  //               .attr("text-anchor", "middle")
  //               .style("display", "none");

function highlight_bar(d) {
  bar_text = g.append("text").attr("x", x(d.name) + x.bandwidth()/2)
    .attr("y", y(d.energy) + 20)
    .attr("width", x.bandwidth())
    .attr("height", height - y(d.energy) )
    .text(d.energy)
    .attr("class", "text")
    .style("display", "block");

  /*g.selectAll("text.bar")
    .data(data)
    .attr("class", "text")
    .attr("text-anchor", "middle")
    .attr("x", function(d) { return x(d.name) + x.bandwidth()/2; })
    .attr("y", function(d) { return y(d.energy) + 20; })
    .attr("width", x.bandwidth())
    .attr("height", function(d) { return height - y(d.energy); })
    */

}
}

/*
fetch("http://google.com")
  .then(function(data) {
    console.log(data);
  });
*/

</script>
</body>
